.filters{

    &__row{
        max-width: 300px;
        display: flex;
        // align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    &__teams{

    }

    &__players{
        
    }

    &__polygons{
        
    }

    &-filter{
        width: 250px;
        background-color: #CE68E8;
        color: white;
        padding: 10px 80px;
        font-size: 20px;
        border-radius: 7px;
        text-align: center;
    }

    &-content{
        max-height: 140px;
        overflow-y: scroll;
        margin-top: 10px;
        border: 2px solid#CE68E8;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.content{

    &-selectButton{
        border-radius: 10px;
        padding: 5px 10px;
    }

    &-activeSelectButton{
        border-radius: 10px;
        padding: 5px 10px;
        background-color: #CE68E8;
        color: white;
    }
}