.filters{
    display: flex;
    height: 100%;
    padding-right: 100px;

    &-number{
        font-size: 15px;
        margin-right: 11px;
        width: 23px;
        height: calc(100% - 60px);
        background-color: rgba($color: #1C111F, $alpha: 0.2);
        color: #FEFEFE;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 8px;
        padding-top: 8px;
    }

    &__row{
        display: flex;
        // align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    &__teams{

    }

    &__players{

    }

    &__polygons{
        
    }

    &-filter{
        background-color: #FF6D1B;
        color: white;
        width: 350px;
        padding: 10px;
        font-size: 20px;
        text-align: left;
    }

    &-content{
        max-height: 140px;
        overflow-y: scroll;
        margin-top: 10px;
        // padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 7px;
    }
}

.content{

    &-selectButton{
        text-align: left;
        font-size: 15px;
        // border-radius: 10px;
        // border-bottom-right-radius: 0px;
        background-color: #343434;
        border: 1px solid #FEFEFE;
        padding: 4px 10px;
        color: white;
    }

    &-activeSelectButton{
        text-align: left;
        font-size: 15px;
        // border-radius: 10px;
        padding: 4px 10px;
        background-color: #218906;
        border: 1px solid #FEFEFE;
        color: white;
    }
}