body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #282828;
}

.App{
  padding: 0px 50px;

  &__data{
    margin-bottom: 20px;
    display: flex;
    gap: 50px;
    padding: 20px;
  }

  &__config{
    max-width: 500px;
    display: flex;
    flex-direction: column;

  }

  &__separator{
    height: 700px;
    width: 10px;
    background-color: #CE68E8;
    border-radius: 20px;
  }

  &__filter{
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-addView{
    cursor: pointer;
    margin: 0 auto;
    background-color: #FF3900;
    border-radius: 10px;
    padding: 10px 200px;
    color: #FEFEFE;
    max-width: fit-content;
  }

  &-addView:hover{
    scale: 1.02;
    transition: 0.3s;
  }

  &-addView:not(:hover){
    scale: 1;
    transition: 0.3s;
  }

}